body {
  background: rgb(203, 203, 227);
}

button {
  background-color: #1048cb;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

main {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.image-wrapper {
  position: relative;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.image-wrapper:hover aside {
  opacity: 1;
}
